body {

margin:0;
padding:0;
box-sizing:border-box;
font-family: "Ligue 1 V1",sans-serif,sans-serif;
text-align:center;
background-color:#F3F4F5;

}

.div1 {

background-color:#091c3e;

}

.div11 {

height:39px;
width:800px;
min-width:796px;
margin-left:562px;
background-color:#90A5B6;
color:#fff;
display:grid;
grid-template-columns:1fr 1fr 1fr 1fr;

}

.div11 > * {

background-color:#091c3e;
font-weight:bold;
display: flex;
align-items: center;
padding-top: 4px;

}

.div11 a {

color:#fff;
text-decoration:none;

}

.season_1 {

height:46px;
font-family:"Kaushan Script", cursive;
color:#e83e8c;
font-weight:bold;
padding-top:14px;
margin-bottom:40px;

}

.league_table_header {

height:24px;
width:1010px;
min-width: 1010px;
margin-left:443px;
padding-top:4px;
border-bottom:1px solid lightgray;
background-color:#fff;
text-align:center;
display: grid;
grid-template-columns: repeat(11, 1fr);

}

.ts {

width:40px;

}

.club_name {

width:110px;

}

.e1 {

width:384px;

}

.last5matches {

width:196px;

}

.league_1 {

height:38px;
width:1010px;
min-width: 1010px;
margin-left:443px;
border-bottom:1px solid lightgray;
background-color:#fff;
text-align:center;
overflow:hidden;
display: grid;
grid-template-columns: repeat(18, 1fr);

}

.standings_c {

width:4px;

}

.rank {

width: 100px;
padding-top: 12px;

}

.standings_b {

width:46px;
padding-right: 14px;
padding-top: 10px;

}

.standings_a {

width:120px;
text-align:left;
padding-top: 12px;

}

.e_1 {

width:204px;

}

.ts_1 {

width:40px;
padding-top: 12px;

}

.last5_matches_1 {

width:39px;
padding-top: 12px;

}

.match_info {

width:730px;
background-color:#fff;
margin:40px;
margin-left:607px;
margin-top:-26px;
font-size:17px;
font-weight:bold;
background-color:gold;
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

}

.match_info:nth-child(1) {

font-size:24px;

}

.team1 {

width:240px;
padding-top:14px;

}

.team1_g {

width:100px;
padding-top:14px;

}

.team2_g {

width:100px;
padding-top:14px;

}

.team2 {

width:240px;
padding-top:14px;

}

.arrow_left {

width: 0;
height: 0;
background-color: #F3F4F5;
border-top: 26px solid transparent;
border-bottom: 26px solid transparent;
border-right: 26px solid gold;


}

.arrow_right {

width: 0;
height: 0;
background-color: #F3F4F5;
border-top: 26px solid transparent;
border-bottom: 26px solid transparent;
border-left: 26px solid gold;

}

.qualifications {

width:1010px;
min-width:1010px;
border-bottom: 1px solid lightgray;
background-color: #fff;
text-align: center;
padding-top: 18px;
overflow: hidden;
margin-left: 23%;

}

.qualificationsranks {

display:grid;
grid-template-columns:1fr 1fr;

}

.qualificationsranks_1 {

height:46px;
width:400px;
margin-left:70px;
display:grid;
grid-template-columns:1fr 1fr;

}

.qualificationsranks_2 {

height:24px;
width:400px;

}

.qualificationsranks_11 {

height:14px;
width:14px;

}

.qualificationsranks_12 {

height:24px;
width:270px;
margin-left: -170px;

}

.header_1 {

color:#a7a7a7;
display:grid;
grid-template-columns:1fr 1fr;
background-color:#fff;

}

.header_menu {

width:200px;

}

.league1logo {

height:156px;
width:104px;
background-image:url("../images/league1logo.png");
background-size:cover;
position:absolute;

}

.header_11 {

height:108px;
width:100%;
margin-left:7%;
padding-top:10px;
background-color:#fff;
display:grid;
grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;

}

.header_latest_match {

width:337px;
min-width:241px;
margin-left: -40px;

}

.header_latest_match_home_team {

display:grid;
grid-template-columns: 1fr 1fr 1fr;

}

.header11111 {



}

.header11112 {

padding-top:10px;

}

.header11113 {

padding-top:10px;

}

.header_1112 {

display:grid;
grid-template-columns: 1fr 1fr 1fr;

}

.matches_played {

width:310px;
margin-left:-30px;
padding-top:24px;
color:#091c3e;
font-weight:bold;

}

.menu {

height:40px;
padding-top:14px;
background-color:#091c3e;
color:#fff;
display:flex;
justify-content:center;

}

.menu_1 {

margin-inline:18px;

}

@media only screen and (max-width: 1500px) {
  .matches_played {

  margin-left:0;
  padding-top: 37px;
  width: 240px;

  }

  .qualifications {

    margin-left:17%;

   }

  .header_latest_match {

  width: 237px;
  margin-left: -24px;

  }
  .league_table_header {

  display:flex;
  margin-left: 17%;

  }

  .league_1 {

  margin-left: 17%;

  }
}
