.teams_team_overview {

height:280px;
max-height:280px;
color:#fff;
font-size: 35px;
font-weight: 900;
text-align: center;
overflow:hidden;

}

.teams_team_overview img {

height:100%;
width:100%;

}

.teams_team_name {

height:170px;
padding-top: 39px;
position:absolute;
left:40%;
transform:translateY(-240px);

}

.general_info_header {

font-size: 23px;
letter-spacing: .04em;
line-height: 1.5;
margin-top: 19px;
margin-bottom: 19px;

}

.boutique {

padding: 15px 30px;
margin-left:70px;
border-radius: 4px;
display: inline-block;
cursor: pointer;
border: none;
background-color: #cdfb0a;
color: #091c3e;
position:absolute;
transform:translate(-19px, -70px);

}

.teams_socials_pages {

display:flex;

}

a {

color:#fff;
text-decoration:none;

}

.active_option {

background-color:#091c3e;
color:#fff;

}

.team_menu {

margin-bottom:49px;
display:flex;
justify-content:center;
align-items:center;
background-color: #e0e0e0;

}

.team_menu_option {

padding: 20px;
font-size: 19px;
text-transform: uppercase;
line-height: 1.1;

}

.team_info {



}

.team_info_row {

display:flex;
justify-content:center;
align-items:center;

}

.team_general_info {

margin-left:40px;
margin-right:40px;

}

.team_general_info_1 {

background-color: #091c3e;
color: #fff;
padding:10px;

}

.team_info_header {

font-size: 23px;
letter-spacing: .04em;
line-height: 1.5;
margin-top:7px;
margin-bottom: 5px;

}

.team_general_info_ranking {



}

.team_top_scorer {

height:210px;
background-color: #091c3e;
color: #fff;

}

.team_top_scorer img {

height:180px;
width:180px;

}

.team_top_scorers:nth-child(1) {

height:auto;

}

.team_tables {

width:380px;
margin-top:40px;
margin-bottom:40px;
margin-left:70px;
background-color:#fff;
color:#091c3e;

}

.team_tables_menu {

display:flex;

}

.team_tables_menu >* {

margin-inline:24px;

}

.team_stats_1 {

width: 240px;
margin-bottom: 7px;
padding-bottom: 14px;
background-color: #091c3e;
color: #fff;

}

.teams_ranking {

margin-bottom: 40px;

}

.team_tables_table {



}

.team_tables_table_team {

display:flex;
align-items:center;
text-align:left;

}

.team_tables_table_team_rank {

margin-left:7%;
width:5%;

}

.team_recent_m {

height:58px;
padding:10px;
background-color: #091c3e;
color: #fff;
font-size:22px;

}

.team_next_m {

height:58px;
padding:10px;
background-color: #091c3e;
color: #fff;
font-size:22px;

}

.team_tables_heading {

padding:19px;

}

.team_tables_table_team_logo {

width:7%;
margin-left: 7%;

}

.team_tables_table_team_logo img {

height:28px;
width:28px;

}

.team_tables_table_team_name {

height:7%;
width:19%;
margin-left:4%;

}

.team_tables_table_team_pts {

height:7%;
width:7%;
margin-left:4%;

}

.team_tables_table_team_pm {

height:7%;
width:7%;
margin-left:12%;

}

.team_tables_table_team_gd {

height:7%;
width:7%;
margin-left:9%;

}

.team_team_player {

display:flex;

}

.team_team_player_name {



}

.team_team_player_nationality {



}

.team_team_staff {

margin-top:40px;
margin-bottom:40px;
display:flex;
justify-content:center;
align-items:center;

}

.team_team_staff_image img {

height:140px;
width:140px;
border-radius:50%;

}


.team_team_staff_1 {

margin-left:3%;

}

.team_team_staff_name {

font-size:24px;

}


.team_team_stadium {

margin-left:40%;
text-align:left;

}

.team_team_stadium a {

color: #091c3e;
text-decoration:none;

}

.team_latest_news_header {

font-size: 23px;
letter-spacing: .04em;
line-height: 1.5;
margin-top: 7px;
margin-bottom: 5px;

}

.all_trophies_header {

margin:24px;
font-size:24px;

}

.all_trophies_trophies {

margin-top:17px;
display:flex;
justify-content:center;
align-items:center;

}

.trophy {

margin-inline:24px;

}

.team_trophy_img {

height:110px;
width:100px;

}

.team_general_info_bg {

background-color: #091c3e;

}

.statistics_general_statistics {

height:504px;
transform: translateY(-31px);

}

.statistics_general_statistics img {

height:240px;

}

.statistics_general_statistics_list {

padding:10px;

}

.statistics_general_statistics_list_item {

display:flex;

}

.statistics_general_statistics_list_item_1 {

width:70%;
padding-top:10px;
text-align:left;

}

.statistics_general_statistics_list_item_2 {

margin-left:140px;
padding-top:10px;
text-align:right;

}

.statistics_one_match {

background-color: #091c3e;
color: #fff;

}

.statistics_one_match_home_team {

padding-top:10px;
padding-left:10px;
display:flex;

}

.statistics_one_match_home_team img {

margin-left:40px;

}

.statistics_one_match_home_team_name {

width:26%;
padding-top:10px;
padding-left:40px;
font-size:24px;

}

.statistics_one_match_home_team_goals {

padding-top:10px;
padding-left:19px;
font-size:24px;

}

.statistics_one_match_away_team {

padding-bottom:17px;
padding-top:10px;
padding-left:10px;
display:flex;

}

.statistics_one_match_away_team img {

margin-left:40px;

}

.statistics_one_match_away_team_name {

width:26%;
padding-top:10px;
padding-left:40px;
font-size:24px;

}

.statistics_one_match_away_team_goals {

padding-top:10px;
padding-left:19px;
font-size:24px;

}

.statistics_one_match_additional {

margin:11px;
font-size:22px;

}

.team_stats_team {

margin:10px;
padding-top: 10px;
display:flex;

}

.team_stats_1_logo {

margin-left:12px;

}

.team_stats_1_name {

margin-left: 12px;
padding-top: 14px;
flex: 0 0 55%;

}

.team_stats_team_info {



}

.team_stats_general_info {

margin-inline:40px;

}

.team_stats_2 {

display:flex;

}

.team_stats_2_name {

flex: 0 0 89%;
text-align: left;
padding-left: 7px;
margin-right: -4px;

}

.team_stats_2_value {

text-align:right;

}

.general_info_u {

margin-left:40px;
margin-right:40px;

}


.upset {

background-color: #091c3e;
color: #fff;

}

.upset_home_team {

width:240px;
padding-top:10px;
padding-left:10px;
display:flex;

}

.upset_home_team img {

margin-left:14px;

}

.upset_home_team_name {

width:26%;
padding-top:10px;
margin-inline:34px;
font-size:24px;

}

.upset_home_team_goals {

padding-top:10px;
padding-left:4px;
font-size:24px;

}.upset_home_team {

width:240px;
padding-top:10px;
padding-left:10px;
display:flex;

}

.upset_home_team img {

margin-left:14px;

}

.upset_home_team_name {

width:26%;
padding-top:10px;
margin-inline:34px;
font-size:24px;

}

.upset_home_team_goals {

padding-top:10px;
padding-left:4px;
font-size:24px;

}

.upset_away_team {

padding-bottom: 17px;
padding-top: 10px;
padding-left: 10px;
display:flex;

}

.upset_away_team img {

margin-left:14px;

}

.upset_away_team_name {

width:26%;
padding-top:10px;
margin-inline:34px;
font-size:24px;

}

.upset_away_team_goals {

padding-top:10px;
padding-left:4px;
font-size:24px;

}

.upset_additional {

margin:11px;
font-size:22px;

}

.rank_to_foreigners_relationship {

margin-top:40px;
margin-bottom:40px;

}

.fun_facts_player_header {

margin-top:14px;
margin-bottom:14px;
margin-left:40px;
font-weight:bold;

}

.players_player {

display: flex;
justify-content: center;
align-items: center;
width: fit-content;
margin-left: 34%;

}

.title_header {

height: 40px;
font-weight:bold;
color: #e83e8c;
font-size: 23px;
letter-spacing: .04em;
line-height: 1.5;
margin-top:10px;
margin-bottom:40px;
padding-top:27px;
text-transform:uppercase;

}

.fun_facts_team {

margin-bottom:14px;
display:flex;
justify-content:center;
align-items:center;

}

.fun_facts_team_name {

width:170px;

}

.fun_facts_team_value {



}

.players_player a {

color:#000;

}

.player_player_name {

width:130px;

}

.players_player_overall {

height: 26px;
width: 40px;
padding-top: 4px;
margin-inline: 4px;
background-color: yellow;

}

.players_player_positions {

width: 130px;
margin-top: 1px;
margin-left: 14px;
color: #fff;
display: flex;

}

.players_player_club {

width:148px;
text-align:center;

}

.players_club {

margin-top: 4px;
margin-inline: 10px;
margin-left: 40px;

}

@media only screen and (max-width: 1500px) {

    .fun_facts_player_header {

    margin-top:14px;
    margin-bottom:14px;
    margin-left:170px;
    font-weight:bold;

    }

}