{% extends 'base.html' %}

{% block h_1 %}

<script>
    var fifa_names = {{ fifa_names|tojson }}
</script>

    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/players.css') }}">
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/bootstrap_pagination.css') }}">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock %}

{% block body %}

<div class = "players_players">

    <div class = "title_header">
        Ligue 1 Uber Eats players
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
            {% for player in all_players %}

            <div class = "players_player">
                <a class = "players_player_link" href = "{{ player.player_id }}">
                    <div class = "player_player_name">
                        {{ player.short_name }}
                    </div>
                <a class = "players_player_link" href = "{{ player.player_id }}">
                    <img class = "players_player_images" src = "{{ player.player_face_url }}">
                </a>
                    <div class = "players_player_positions">
                        {% for position in player.player_positions %}
                        <div class = "players_player_position">
                            {{ position }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class = "players_player_overall">
                        {{ player.overall }}
                    </div>
                {% if player.player_tags != "nan" %}
                    <div class = "players_player_tags">
                        {{ player.player_tags }}
                    </div>
                {% endif %}
                <a href = "../teams/{{ fifa_names.index(player.club_name) + 1 }}">
                    <img class = "players_club" src = "{{ player.club_logo_url }}">
                </a>
                <div class = "players_player_club">
                    <a href = "../teams/{{ fifa_names.index(player.club_name) + 1 }}">
                        {{ player.club_name }}
                    </a>
                </div>
            </div>

            {% endfor %}

         </tbody>
        </table>
    {{ pagination.links }}
    </div>

</div>

<script type = "text/javascript" src = "/./static/js/players.js"></script>

{% endblock %}